<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">ElecTrac</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#contratos" class="mdl-layout__tab is-active">Contratos</a>
      <a href="#consumos" class="mdl-layout__tab">Consumos</a>
      <a href="#estadisticas" class="mdl-layout__tab">Estadísticas</a>
      <a href="#backup" class="mdl-layout__tab">Backup</a>
      <a href="#backup" class="mdl-layout__tab">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">ElecTrac</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Bienvenido</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="contratos">
      <div class="page-content">
        <app-registro-contrato></app-registro-contrato>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="consumos">
      <div class="page-content">
        <app-registro-medidas></app-registro-medidas>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="estadisticas">
      <div class="page-content">
        <app-consumos-del-mes></app-consumos-del-mes>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="backup">
      <div class="page-content">
        <app-Registro-BackUps></app-Registro-BackUps>
      </div>
    </section>
  </main>
</div>
